.header__lang-link {
font-size: 24px;
font-weight: normal;
line-height: 0.96;
color:#FFFFFF;
text-decoration: none;
}

.header__lang-link:nth-of-type(2) {
    margin-left: 18px;
}

@media all and (max-width: 675px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 0.91;
    }
}