.cover__subtitle {
    z-index: 3;
    max-width: 360px;
    font-size: 18px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

@media all and (max-width: 675px) {
    .cover__subtitle {
        font-size: 15px;
        line-height: 0.95;
    }
}

@media all and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 0.94;
    }
}