.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    font-weight: normal;
    line-height: 0.99;
    margin: 0 auto 64px;
}

@media all and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media all and (max-width: 720px) {
    .lead__subtitle {
        max-width: 400px;
        font-size: 23px;
        line-height: 1;
        margin: 0 auto 40px;
    }
}

@media all and (max-width: 675px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
    }
}